.coffee-page {
  background-image: url("../pictures/jubi.png");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: center -40px;
}

/* Sektionen */
.coffee-section {
  max-width: 800px;
  margin: 0 auto 4rem auto;
  text-align: center;
}

/* Overskrift */
.coffee-title {
  font-family: "Playfair Display", serif;
  color: #1f6a46;
  font-size: 3rem;
  margin-top: 9rem;
  margin-bottom: 1rem;
}

/* Brødtekst */
.coffee-text {
  max-width: 700px;
  margin: 0 auto;
  font-size: 0.95rem;
  line-height: 1.7;
  color: #0f0f0f;
  margin-bottom: 2rem;
}

/* Responsiv */
@media (max-width: 768px) {
  .coffee-image {
    width: 90%;
  }

  .coffee-title {
    font-size: 1.5rem;
  }

  .coffee-text {
    font-size: 0.9rem;
  }
}
