.hero {
  display: flex;
  flex-direction: column;
  align-items: center;    /* centrerer vandret */
  justify-content: center; /* centrerer lodret */
  padding: 1.5rem 0;
  text-align: center;
  background-color: #f6f3eb; /* valgfrit – lys baggrund */
}

.frontpicture {
    width: 1100px;      /* du kan ændre størrelsen */
  height: auto;      /* bevarer proportioner */
  margin-bottom: 0rem;
  display: block;
  border-radius: 5px;
}

.surdejskursus {
    margin-top: 0rem;
  display: flex;
  align-items: center;     /* centrerer lodret */
  justify-content: center; /* centrerer vandret */
  background-color: #f6f3eb;
  gap: 6rem;
  padding: 0rem;
  font-family: "Poppins", sans-serif;
}

.surdejskursus h1 {
font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  color: #d86c35; /* din orange farve */
  text-transform: lowercase;
  letter-spacing: 1px;
}

.surdej-left img {
  width: 400px;            /* selve billedet får størrelsen */
  height: auto;
  border-radius: 5px;
  margin-top: 0.5cm;
}

.surdej-right {
  max-width: 600px;
  text-align: left;
}


.buttonsurdej:hover {
  background-color: #c35f2e;   /* lidt mørkere ved hover */
}

.jubicoffe-section {
  display: flex;
  align-items: center;     /* centrerer lodret */
  justify-content: center; /* centrerer vandret */
  background-color: #f6f3eb;
  gap: 6rem;
  padding: 0rem;
  font-family: "Poppins", sans-serif;
}

.jubicoffe-section h1 {
font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  color: #197C52; /* din orange farve */
  text-transform: lowercase;
  letter-spacing: 1px;
}

.coffee-left {
  max-width: 600px;
  text-align: left;
}

.coffee-right img {
  width: 400px;            /* selve billedet får størrelsen */
  height: auto;
  border-radius: 5px;
}

.buttonjubicoffee {
  background-color: #197C52;   /* den varme orange farve */
  color: #fff;                 /* hvid tekst */
  border: none;                /* fjern standard-kant */
  border-radius: 10px;         /* runde hjørner */
  padding: 0.75rem 1.5rem;     /* luft omkring tekst */
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  display: flex;               /* for tekst + ikon side om side */
  align-items: center;
  gap: 0.5rem;                 /* lille afstand mellem tekst og ikon */
  transition: background-color 0.2s ease;
  width: 2.2cm;
  text-decoration: none;
}

.buttonsurdej {
  background-color: #d86c35;   /* den varme orange farve */
  color: #fff;                 /* hvid tekst */
  border: none;                /* fjern standard-kant */
  border-radius: 10px;         /* runde hjørner */
  padding: 0.75rem 1.5rem;     /* luft omkring tekst */
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  display: flex;               /* for tekst + ikon side om side */
  align-items: center;
  gap: 0.5rem;                 /* lille afstand mellem tekst og ikon */
  transition: background-color 0.2s ease;
  width: 2.6cm;
  text-decoration: none;
}

