/* =========================
   BAGGRUND
========================= */
.sourdough-page {
  background-image: url("../pictures/surdejskursus.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-top: -4rem;
}

/* =========================
   LAYOUT: TEKST VENSTRE + BOKS HØJRE
========================= */
.sourdough-hero {
  max-width: 1100px;
  margin: 4rem auto 0;
  padding: 2rem 1.5rem 3rem;
  display: flex;
  gap: 7rem;
  align-items: flex-start;
}

/* =========================
   VENSTRE KOLONNE
========================= */
.sourdough-text {
  flex: 1;
  font-family: "Poppins", sans-serif;
}

.sourdough-text h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.4rem;
  letter-spacing: 0.08em;
  color: #197c52;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* GLASS / TEKSTBOKS VENSTRE */
.sourdough-textbox {
  background-color: #27241e;
  border-radius: 16px;
  padding: 1.4rem 1.6rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.06);
  margin-bottom: 15rem;
}

/* Tekststørrelse i venstre boks */
.sourdough-textbox p,
.sourdough-textbox .sourdough-subtitle,
.sourdough-textbox .sourdough-list {
  font-size: 0.9rem;
  color: #d26a2a;
}

.sourdough-textbox p {
  margin: 0 0 0.9rem;
  line-height: 1;
}

.sourdough-subtitle {
  margin: 0.8rem 0 0.4rem;
  color: #d26a2a;
}

.sourdough-list {
  margin: 0.3rem 0 1rem;
  padding-left: 1rem;
  font-size: 0.90rem;
  line-height: 1.5;
  color: #bf602c;
}

.sourdough-list li {
  margin-bottom: 0.2rem;
}

/* =========================
   HØJRE KOLONNE: INFOBOKS
========================= */
.sourdough-next {
  width: 300px;
  flex-shrink: 0;
  margin-top: 0;
}

.sourdough-right {
  padding-top: 6.25rem; /* justér evt. 3.2-4.2rem til det flugter perfekt */
}


.course-card {
  display: flex;
  align-items: center;
  background-color: #27241e;
  border-radius: 16px;
  padding: 1rem 1.4rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.04);
  margin-bottom: 1.5rem;
  color: #d26a2a;
}

.course-main {
  flex: 1;
}

/* =========================
   KNAPPER
========================= */
.sourdough-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.secondary-btn {
  display: inline-block;
  padding: 0.7rem 1.6rem;
  border-radius: 999px;
  background-color: #a74b23;
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
}

.secondary-btn:hover {
  background-color: #692c12;
}

/* =========================
   MOBIL
========================= */
@media (max-width: 768px) {
  .sourdough-hero {
    flex-direction: column;
    gap: 2rem;
  }

  .sourdough-next {
    width: 100%;
    margin-top: 0; /* giver mening på mobil */
  }
}
