/* BAGGRUND */
.sourdough-page {
  background-image: url("../pictures/surdejskursus.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-top: -4rem;
}

/* LAYOUT: TEKST VENSTRE + BOKS HØJRE */
.sourdough-hero {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1.5rem 3rem;
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}

/* VENSTRE KOLONNE */
.sourdough-text {
  flex: 1;
  font-family: "Poppins", sans-serif;
}

.sourdough-text h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #197c52;    /* GRØN*/
  margin: 0 0 1rem;
}

.sourdough-text p {
  margin: 0 0 0.75rem;
  line-height: 1.6;
  color: #d26a2a;
}

.sourdough-list ul {
  margin: 0.3rem 0 0.75rem;
  padding-left: 1.2rem;
}

.sourdough-list li {
  margin-bottom: 0.2rem;
}

/* HØJRE KOLONNE: NÆSTE KURSUS BOKS */
.sourdough-next {
  width: 300px;
  flex-shrink: 0;
  margin-top: 7rem;
}

/* KURSUSKORT */
.course-card {
  display: flex;
  align-items: center;
  background-color: #27241e;
  border-radius: 16px;
  padding: 1rem 1.4rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.04);
  margin-bottom: 1.5rem;
  color: #d26a2a;
}

.course-main {
  flex: 1;
}

/* “DET FÅR DU” LISTE */
.sourdough-subtitle {
  color: #d26a2a;
}
.sourdough-list {
  margin: 0 0 0rem;
  font-size: 0.95rem;
  line-height: 2;
  color: #d26a2a;
}

/* KNAPPER */
.sourdough-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.secondary-btn {
  display: inline-block;
  padding: 0.7rem 1.6rem;
  border-radius: 999px;
  background-color: #a74b23;  /* ORANGE */
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
}

.secondary-btn:hover {
  background-color: #692c12;
}

/* MOBIL */
@media (max-width: 768px) {
  .sourdough-hero {
    flex-direction: column;
    gap: 2rem;
  }

  .sourdough-next {
    width: 100%;
  }
}
